.game-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .board-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .main-menu-button {
      display: flex;
      flex-direction: row;
      gap: 5px;
      background-color: lightgray;

      img {
        height: 20px;
        width: 20;
      }
    }

    h2 {
      color: green;
    }
  }

  .board {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    
    .grid {
      display: flex;
      flex-direction: column;
      line-height: 0px;
    }
    
    .line {
      display: flex;
      flex-direction: row;
    }
    
    .horizontal-wrapper {
      display: flex;
      flex-direction: row;
    
      .horizontal-counter-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
    
    .vertical-counter-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .return-button {
      color: blue;
      width: 300px;
    }

    .footer-board{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: -webkit-fill-available;
      padding-left: 80px;

      button {
        background-color: lightgray;
        color: black;
      }
    }
}