.gamePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .boardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .mainMenuButton { 
      display: flex;
      flex-direction: row;
      gap: 5px;
      background-color: lightgray;

      img {
        height: 20px;
        width: 20;
      }
    }

    p {
      color: green;
      font-weight: bold;
    }
  }

  .board {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .horizontalWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
    
      .horizontalCounterWrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
    
    .verticalCounterWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: 80px;
    }

    .returnButton {
      color: blue;
      width: 300px;
    }

    .footerBoard{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 80px;
      gap: 100px;
      
      button {
        background-color: lightgray;
        color: black;
      }
    }
}