.cell {
    width: 38px;
    height: 38px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;

    img {
      height: 35px;
      width: 35px;
    }
    
    &[data-is-checked="true"] {
      background-color: #000000;
      border-color: #000000;
    }
}
  