.cell {
    width: 38px;
    height: 38px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    
    &[data-checked="true"] {
      background-color: #000000;
      border-color: #000000;
    }
} 
  