.canvasDiv {
    display: flex;
    flex-direction: row;
    gap: 50px;
    
    .squareCanvas {
        width: 200px;
        height: 200px;
        border: 1px solid black;
    }

    .imageCanvas {
        width: 220px;
        height: 220px;
        border: 1px solid black;
    }
}