#root {
  text-align: center;
  background-color: #ffffff;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .header {
    display: flex;
    flex-direction: row;

    .title-logo {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    img {
      width: 200px;
      height: 200px;
    }

    .divider {
      height: 2px;
      width: 95vw;
      background-color: rgb(81, 81, 81);
    }
  }
}

h1 {
  color: #c32121;
}

h2 {
  color: green;
  font-weight: bold;
  height: 25px;
  width: 200px;
}

p {
  margin: 0;
}