#root {
  text-align: center;
  background-color: #ffffff;
  line-height: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #c32121;
}

.board {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: column;
  line-height: 0px;
}

.line {
  display: flex;
  flex-direction: row;
}

.horizontal-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.vertical-counter-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
}